@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(57, 160, 207, 0.342);
    font-family: "Rubik", sans-serif;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visible {
    display: flex;
}

.heading {
    text-align: center;
    font-weight: 400;
}

.image-title {
    width: 616px;
    height: 353px;
    background: url("img/main.jpg") no-repeat;
    background-position: center;
}

.image-screen {
    width: 600px;
    height: 353px;
    background: url("img/question.jpg") no-repeat;
    background-position: center;
}

.image-loss {
    width: 600px;
    height: 353px;
    background: url("img/loss.jpg") no-repeat;
    background-position: center;
}

.image-win {
    width: 600px;
    height: 353px;
    background: url("img/win.jpg") no-repeat;
    background-position: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2e6fa5;
    color: #fff;
    transition: background-color 0.3s esae;
}

.button:hover {
    background-color: #204c70;
}

.answer-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 10px;
}

.answer {
    width: 100%;
}

.answer.active {
    background-color: orange;
}

.answer.right {
    background-color: #31cc98;
}

.answer .active,
.answer .right {
    animation: blink 1s infinite ease-out;
    border-color: #fff;
}

@keyframes blink {
    0%, 100% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}